<!DOCTYPE html>
<html>
  <head>
    <title>SprocketsEs6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%# 
      Because `application` now has some ES module instructions concatenated in,
      it needs to be loaded with `type="module"` on the script tag
    %>
    <%= javascript_include_tag "application", type: :module %>
    <script src="/module.mjs" type="module"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
